.navigationbar {
  width: 100%;
  height: auto;
  padding-right: 40px;
  background-color: #12f889;
  text-decoration: none;
  box-shadow: 0 3px 3px 0px rgba(176, 175, 175, 0.4);
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-wide {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.logo-wide:hover {
  scale: 1.1;
  cursor: pointer;
}

.logo-mobile {
  width: 80px;
  margin-left: 20px;
  display: hidden;
}

.logo-mobile:hover {
  scale: 1.1;
  cursor: pointer;
  display: hidden;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.navigationbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
}

.navigationbar a:hover {
  scale: 1.1;
  font-weight: bolder;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleButton svg {
  font-size: 60px;
}

.toggleButton button {
  height: 40px;
  margin-right: 10px;
  margin-top: 80px;
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  color: white;
  cursor: pointer;
}

.toggleButton button:hover {
  box-shadow: none;
}

#open {
  height: 50vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;
  padding-bottom: 30px;
}

#open a {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .navigationbar {
    padding-right: 10px;
  }

  .navigationbar a {
    font-size: 20px;
    margin: 15px;
  }

  .logo-wide {
    width: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .logo-wide {
    width: 50px;
  }

  .navigationbar {
    padding-right: 0px;
  }

  .navigationbar a {
    width: 90px;
    font-size: 20px;
    margin: 10px;
  }

  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }

  .logo-wide {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }

  .logo-mobile {
    display: flex;
  }
}
