h2 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.step-section {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.step-card {
  width: 20%;
  margin: 20px 20px;
  padding: 10px;
  /* border: rgba(137, 132, 132, 0.606) solid 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(6, 182, 96, 0.1);
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.step-card:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

p {
  font-size: 15px;
  text-align: center;
  width: 80%;
}

i {
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(6, 182, 96, 0.9);
  border-radius: 15px;
  padding: 10px 20px;
}

.button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.button-homepg {
  width: 25% !important;
  margin-top: 40px;
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .step-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .step-card {
    width: 60%;
  }
}
